<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Preferencia para GridInterface -->
    <preference for="Macademy\Trainee\Api\Data\GridInterface" type="Macademy\Trainee\Model\Grid" />
    <preference for="Macademy\Trainee\Api\ReviewsInterface" type="Macademy\Trainee\Model\ReviewsRepository"/>

    <!-- Configuración del VirtualType para el backend -->
    <virtualType name="Macademy\Trainee\Model\ResourceModel\Grid\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">store_reviews</argument>
            <argument name="resourceModel" xsi:type="string">Macademy\Trainee\Model\ResourceModel\Grid</argument>
        </arguments>
    </virtualType>

    <!-- Colección para UiComponent -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="grid_record_grid_list_data_source" xsi:type="string">
                    Macademy\Trainee\Model\ResourceModel\Grid\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

</config>
